In [1]:
fname = "/Users/klay6683/data/planet4/2015-10-11_planet_four_classifications.csv"

In [2]:
from planet4 import p4io as io, reduction

In [3]:
reader = pd.read_csv(fname, chunksize=1e6, na_values=['null'], usecols=reduction.analysis_cols)

In [4]:
data = [chunk for chunk in reader]

In [5]:
df = pd.concat(data, ignore_index=True)

In [6]:
data = 0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13345445 entries, 0 to 13345444
Data columns (total 21 columns):
classification_id    object
created_at           object
image_id             object
image_name           object
image_url            object
user_name            object
marking              object
x_tile               int64
y_tile               int64
acquisition_date     object
local_mars_time      object
x                    float64
y                    float64
image_x              float64
image_y              float64
radius_1             float64
radius_2             float64
distance             float64
angle                float64
spread               float64
version              float64
dtypes: float64(10), int64(2), object(9)
memory usage: 2.2+ GB

In [27]:
pd.set_option('display.width', 10000)
pd.set_option('display.max_colwidth',100)

In [29]:
df[df.classification_id=='50ee387194b9d50e88000001'].T

                                                                                    1667957
classification_id                                                  50ee387194b9d50e88000001
created_at                                                          2013-01-09 21:29:25 UTC
image_id                                                                         APF0000ojd
image_name                                                                  ESP_020902_0950
image_url          http://www.planetfour.org/subjects/standard/50e740aa5e2ed211dc001f8e.jpg
user_name                                                                          Pedrosan
marking                                                                                none
x_tile                                                                                    5
y_tile                                                                                   40
acquisition_date                                                                 2011-01-11
local_mars_time                                                                     5:53 PM
x                                                                                       NaN
y                                                                                       NaN
image_x                                                                                 NaN
image_y                                                                                 NaN
radius_1                                                                                NaN
radius_2                                                                                NaN
distance                                                                                NaN
angle                                                                                   NaN
spread                                                                                    0
version                                                                                   1

In [9]:
df[df.classification_id=='50ee391e2daa4f2c7b000001']

,classification_id,created_at,image_id,image_name,image_url,user_name,marking,x_tile,y_tile,acquisition_date,...,x,y,image_x,image_y,radius_1,radius_2,distance,angle,spread,version
1686232,50ee391e2daa4f2c7b000001,2013-01-09 21:31:13 UTC,APF0000cqn,ESP_012079_0945,http://www.planetfour.org/subjects/standard/50...,fiona_j,fan,2,46,2009-02-22,...,307,414,1047,25074,NaN,NaN,238.662942,-166.429566,53.204305,1
1686240,50ee391e2daa4f2c7b000001,2013-01-09 21:31:13 UTC,APF0000cqn,ESP_012079_0945,http://www.planetfour.org/subjects/standard/50...,fiona_j,blotch,2,46,2009-02-22,...,345,337,1085,24997,103.406963,77.555222,NaN,-71.389835,0.000000,1
1686244,50ee391e2daa4f2c7b000001,2013-01-09 21:31:13 UTC,APF0000cqn,ESP_012079_0945,http://www.planetfour.org/subjects/standard/50...,fiona_j,fan,2,46,2009-02-22,...,202,200,942,24860,NaN,NaN,171.400117,-161.987891,54.571703,1

In [32]:
df.to_hdf('debugging_db.hdf', 'df')

/Users/klay6683/miniconda3/envs/py35/lib/python3.5/site-packages/pandas-0.17.0+137.geb66bcc-py3.5-macosx-10.5-x86_64.egg/pandas/core/generic.py:939: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['classification_id', 'created_at', 'image_id', 'image_name', 'image_url', 'user_name', 'marking', 'acquisition_date', 'local_mars_time']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

In [33]:
pwd

'/Users/klay6683/Dropbox/src/planet4/notebooks/tests'

## reset notebook here to clean up memory.

In [1]:
from planet4 import reduction
from pathlib import Path

In [2]:
p = Path('debugging_db.hdf')

In [3]:
pabs=p.absolute()

In [11]:
rootpath = pabs.parent / pabs.stem

In [12]:
rootpath

PosixPath('/Users/klay6683/Dropbox/src/planet4/notebooks/tests/debugging_db')

In [7]:
df = pd.read_hdf('debugging_db.hdf', 'df')

In [8]:
reduction.convert_times(df)

In [9]:
df[df.classification_id=='50ee387194b9d50e88000001']

,classification_id,created_at,image_id,image_name,image_url,user_name,marking,x_tile,y_tile,acquisition_date,...,x,y,image_x,image_y,radius_1,radius_2,distance,angle,spread,version
1667957,50ee387194b9d50e88000001,2013-01-09 21:29:25,APF0000ojd,ESP_020902_0950,http://www.planetfour.org/subjects/standard/50...,Pedrosan,none,5,40,2011-01-11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1

In [44]:
df = reduction.splitting_tutorials(rootpath, df)

In [17]:
df[df.classification_id=='50ee387194b9d50e88000001']

,classification_id,created_at,image_id,image_name,image_url,user_name,marking,x_tile,y_tile,acquisition_date,...,x,y,image_x,image_y,radius_1,radius_2,distance,angle,spread,version
1667957,50ee387194b9d50e88000001,2013-01-09 21:29:25,APF0000ojd,ESP_020902_0950,http://www.planetfour.org/subjects/standard/50...,Pedrosan,none,5,40,2011-01-11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1

In [49]:
for marking in ['fan', 'blotch']:
    df = reduction.scan_for_incomplete(df, marking)

In [50]:
df[df.classification_id=='50ee387194b9d50e88000001']

,classification_id,created_at,image_id,image_name,image_url,user_name,marking,x_tile,y_tile,acquisition_date,...,x,y,image_x,image_y,radius_1,radius_2,distance,angle,spread,version
1667957,50ee387194b9d50e88000001,2013-01-09 21:29:25,APF0000ojd,ESP_020902_0950,http://www.planetfour.org/subjects/standard/50...,Pedrosan,none,5,40,2011-01-11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1

In [51]:
reduction.convert_ellipse_angles(df)

In [10]:
df.to_hdf(str(pabs), 'df', format='table', data_columns=['image_name'])

In [6]:
ll -arth

total 38589184
-rw-r--r--@  1 klay6683  LASP\Domain Users   3.3K Oct 23 02:59 test_markings.ipynb
-rw-r--r--@  1 klay6683  LASP\Domain Users    13K Oct 27 20:09 test_hirise_tools.ipynb
-rw-r--r--@  1 klay6683  LASP\Domain Users   1.1K Nov  3 09:49 test_io.py.ipynb
-rw-r--r--@  1 klay6683  LASP\Domain Users   2.0M Nov  3 09:49 test_clustering.ipynb
drwxr-xr-x@  7 klay6683  LASP\Domain Users   238B Nov  5 13:12 .ipynb_checkpoints/
drwxr-xr-x@ 58 klay6683  LASP\Domain Users   1.9K Nov  5 14:16 ../
-rw-r--r--@  1 klay6683  LASP\Domain Users   138M Nov  5 15:34 debugging_db_tutorials.h5
-rw-r--r--@  1 klay6683  LASP\Domain Users    18G Nov  5 16:38 debugging_db.hdf
-rw-r--r--@  1 klay6683  LASP\Domain Users    34K Nov  5 17:24 test_reduction.ipynb
drwxr-xr-x@ 10 klay6683  LASP\Domain Users   340B Nov  5 17:24 ./

In [7]:
df = pd.read_hdf('debugging_db.hdf')

In [28]:
df[df.classification_id=='50ee391e2daa4f2c7b000001']

,classification_id,created_at,image_id,image_name,image_url,user_name,marking,x_tile,y_tile,acquisition_date,...,x,y,image_x,image_y,radius_1,radius_2,distance,angle,spread,version
1686240,50ee391e2daa4f2c7b000001,2013-01-09 21:31:13,APF0000cqn,ESP_012079_0945,http://www.planetfour.org/subjects/standard/50...,fiona_j,blotch,2,46,2009-02-22,...,345,337,1085,24997,103.406963,77.555222,NaN,-71.389835,0.000000,1
1686232,50ee391e2daa4f2c7b000001,2013-01-09 21:31:13,APF0000cqn,ESP_012079_0945,http://www.planetfour.org/subjects/standard/50...,fiona_j,fan,2,46,2009-02-22,...,307,414,1047,25074,NaN,NaN,238.662942,-166.429566,53.204305,1
1686244,50ee391e2daa4f2c7b000001,2013-01-09 21:31:13,APF0000cqn,ESP_012079_0945,http://www.planetfour.org/subjects/standard/50...,fiona_j,fan,2,46,2009-02-22,...,202,200,942,24860,NaN,NaN,171.400117,-161.987891,54.571703,1

In [29]:
data = df[df.image_id=='APF0000cqn']

In [31]:
data[data.classification_id=='50ee391e2daa4f2c7b000001']

,classification_id,created_at,image_id,image_name,image_url,user_name,marking,x_tile,y_tile,acquisition_date,...,x,y,image_x,image_y,radius_1,radius_2,distance,angle,spread,version
1686240,50ee391e2daa4f2c7b000001,2013-01-09 21:31:13,APF0000cqn,ESP_012079_0945,http://www.planetfour.org/subjects/standard/50...,fiona_j,blotch,2,46,2009-02-22,...,345,337,1085,24997,103.406963,77.555222,NaN,-71.389835,0.000000,1
1686232,50ee391e2daa4f2c7b000001,2013-01-09 21:31:13,APF0000cqn,ESP_012079_0945,http://www.planetfour.org/subjects/standard/50...,fiona_j,fan,2,46,2009-02-22,...,307,414,1047,25074,NaN,NaN,238.662942,-166.429566,53.204305,1
1686244,50ee391e2daa4f2c7b000001,2013-01-09 21:31:13,APF0000cqn,ESP_012079_0945,http://www.planetfour.org/subjects/standard/50...,fiona_j,fan,2,46,2009-02-22,...,202,200,942,24860,NaN,NaN,171.400117,-161.987891,54.571703,1

In [32]:
data[data.user_name=='fiona_j'].classification_id.unique()

array(['50ee391e2daa4f2c7b000001', '50ee3952e792ed286e000001',
       '50ee397e94b9d5334d000001', '50eee7972daa4f6dad000001',
       '50ee391c2daa4f2c3b000001', '50ee394f94b9d52d0a000001',
       '50ee397c2daa4f3899000001', '50eee6a184af3b7f0c000001'], dtype=object)

In [33]:
data[data.user_name=='fiona_j'].classification_id.unique().min()

'50ee391c2daa4f2c3b000001'

In [34]:
group = data.groupby(['image_id','user_name'], sort=False)

In [35]:
good_class_ids = group['classification_id'].min()

In [36]:
cleaned = reduction.remove_duplicates_from_image_name_data(data)

In [37]:
cleaned[cleaned.user_name=='fiona_j']

,classification_id,created_at,image_id,image_name,image_url,user_name,marking,x_tile,y_tile,acquisition_date,...,x,y,image_x,image_y,radius_1,radius_2,distance,angle,spread,version
1688020,50ee391c2daa4f2c3b000001,2013-01-09 21:31:21,APF0000cqn,ESP_012079_0945,http://www.planetfour.org/subjects/standard/50...,fiona_j,blotch,2,46,2009-02-22,...,345,337,1085,24997,103.406963,77.555222,NaN,-71.389835,0.000000,1
1688021,50ee391c2daa4f2c3b000001,2013-01-09 21:31:21,APF0000cqn,ESP_012079_0945,http://www.planetfour.org/subjects/standard/50...,fiona_j,fan,2,46,2009-02-22,...,202,200,942,24860,NaN,NaN,171.400117,-161.987891,54.571703,1
1688022,50ee391c2daa4f2c3b000001,2013-01-09 21:31:21,APF0000cqn,ESP_012079_0945,http://www.planetfour.org/subjects/standard/50...,fiona_j,fan,2,46,2009-02-22,...,307,414,1047,25074,NaN,NaN,238.662942,-166.429566,53.204305,1

In [41]:
cleaned[cleaned.classification_id=='50ee391e2daa4f2c7b000001']

Empty DataFrame
Columns: [classification_id, created_at, image_id, image_name, image_url, user_name, marking, x_tile, y_tile, acquisition_date, local_mars_time, x, y, image_x, image_y, radius_1, radius_2, distance, angle, spread, version]
Index: []

[0 rows x 21 columns]

In [46]:
cleaned[cleaned.user_name=='fiona_j'][['classification_id','user_name','created_at','image_id']]

                classification_id user_name          created_at    image_id
1688020  50ee391c2daa4f2c3b000001   fiona_j 2013-01-09 21:31:21  APF0000cqn
1688021  50ee391c2daa4f2c3b000001   fiona_j 2013-01-09 21:31:21  APF0000cqn
1688022  50ee391c2daa4f2c3b000001   fiona_j 2013-01-09 21:31:21  APF0000cqn

In [38]:
from planet4 import p4io as io

In [39]:
db = io.DBManager()

In [40]:
db.get_classification_id_data('50ee391e2daa4f2c7b000001')

Empty DataFrame
Columns: [classification_id, created_at, image_id, image_name, image_url, user_name, marking, x_tile, y_tile, acquisition_date, local_mars_time, x, y, image_x, image_y, radius_1, radius_2, distance, angle, spread, version]
Index: []

[0 rows x 21 columns]

In [14]:
cleaned[cleaned.classification_id=='50ee387194b9d50e88000001']

Empty DataFrame
Columns: [classification_id, created_at, image_id, image_name, image_url, user_name, marking, x_tile, y_tile, acquisition_date, local_mars_time, x, y, image_x, image_y, radius_1, radius_2, distance, angle, spread, version]
Index: []

[0 rows x 21 columns]

In [27]:
data[data.classification_id=='50ede17f94b9d509a4000181']

,classification_id,created_at,image_id,image_name,image_url,user_name,marking,x_tile,y_tile,acquisition_date,...,x,y,image_x,image_y,radius_1,radius_2,distance,angle,spread,version
1676082,50ede17f94b9d509a4000181,2013-01-09 21:30:39,APF0000ojd,ESP_020902_0950,http://www.planetfour.org/subjects/standard/50...,Pedrosan,none,5,40,2011-01-11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1

In [55]:
## reset again

In [4]:
from planet4 import reduction

In [5]:
reduction.remove_duplicates_from_file(str(pabs))

KeyboardInterrupt: